.footer {
  --background-color: #2f324b;
  --background-color-accent: #2a2c3f;

  padding: 45px 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.41;

  background-color: var(--background-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.footer__date {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.footer__logo {
  line-height: 1;
}

.footer__copyright {
  width: 127px;
}

.footer__contact {
  row-gap: 0;
}

.footer__developer-down {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--background-color-accent);
}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 0 49px;
  }
}

@media (max-width: 645px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 0;
  }

  .footer__container {
    padding-bottom: 25px;
    flex-wrap: wrap;
  }

  .footer__copyright {
    width: 110px;
    font-size: 10px;
  }

  .footer__container .footer__developer {
    display: none;
  }

  .footer__developer-down {
    display: block;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    width: 87px;
    font-size: 8px;
  }
}
